# logs
logs
*.log
*.log*

# tests
coverage
*.lcov
.nyc_output

# dependency directories
node_modules/
jspm_packages/

# caches
*.tsbuildinfo
.npm
.eslintcache

# dotenv environment variables file
.env
.keyfiles

# build output
cjs
esm

# other
.export
*.backup
*.tgz
